<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
      <h3>Description
      </h3>
       <p>
         This is a Node.js and Express.js based timestamp microservice.
         This microservice takes a URL parameter in the format of a Unix timestamp or a Date and returns a JSON response with the Unix timestamp and the UTC date.
       </p>
    </div>
    <div class="footer">
      <p>
        By <i>Dhairya Upadhyay</i> for Project at
        <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>'s Backend Development Course.
      </p>
    </div>
  </body>
</html>
